.reviewContainer {
  display: flex;
  justify-content: space-between;
  .contentBlock {
    padding: 20px 0;
    width: 100%;
    .optionBlock {
      margin: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .pageText {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .inputContainer {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .formContainer {
      width: 100%;
      padding: 10px 20px;
    }
  }
}
