.step-two {
	.item {
		margin: 10px;
	}
	.send-key {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 400px;
		padding: 0 0px 5px 12px;
	}
	.send-data {
		width: 400px;
		padding-right: 10px;
	}
}